P {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 12pt;
		line-height: 17pt;
		color: #C9D1D0
}

.small {
		font-size: 8pt;
}

A:link {
		color: #FFFFFF
		text-decoration: none;
}

A:active {
		color: #FFFFFF;
		text-decoration: underline;
}

A:hover {
		color: #FFFFFF;
		text-decoration: underline;
}
A:focus {
		color: #FF0000;
		text-decoration: underline;
}

B	{
		font-weight: bold;
		color: #A79514
}

H1 {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 18pt;
		font-weight: bold;
		color: #D9E1E0;
}

H2 {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 16pt;
		color: #D9E1E0;		
}

H3 {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-weight: bold;
		font-size: 14pt;
		color: #D9E1E0;
}

LI {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 12pt;
		line-height: 17pt;
}

OL {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 12pt;
		line-height: 17pt;
}

UL {
		font-family: Optima, Verdana, Lucida Sans Unicode, sans-serif;
		font-size: 12pt;
		line-height: 17pt;
}

EM {
		color: #00AAAA;
}